img {
    max-width: 100%;
}

footer {
    color: #999;
    padding: 0 20px 20px 20px;
}

p {
    padding: 4px 20px 0 20px;
    font-size: 14px;
    font-weight: 550;
    line-height: 1.4em;
    color: #666;
}

span {
    float: right;
    font-size: 12px;
    padding-top: 9px;
}

button {
    padding: 7px;
    background-color: white;
    border: 1px solid #888;
    font-size: 12px;
    margin: 0px;
    color: #777;
}

.card {
    width: 320px;
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.viewButton {
    border-radius: 4px 0 0 4px;
}

.editButton {
    border-radius: 0 4px 4px 0;
    margin-left: -5px;
}

